.icon{
    width: 32px;
    height: 32px;
    fill: #ccc;
    position: absolute;
    top: -4px;
    right: 8px;
  }

header {
    display: -webkit-flex;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #1d1d1d;
    color: white;
}

a{
    text-decoration: none;
}

form {
    position: relative;
}

input {
    height: 30px;
    padding: 10px;
    width: 280px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: #303137;
    color: white;
    letter-spacing: 1px;
}

header>:nth-child(3) a{
    color: white;
    background: #474747;
    padding: 10px;
    border-radius: 3px;
}

header>:nth-child(3) a:last-child{
    background: #0a63a4;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin: 0;
    padding: 0;
}
nav > ul > li {
    position: relative;
}

nav li:hover > ul{
    display: block;
}
nav li> ul {
    display: none;
    column-count: 3;
    position: absolute;
}

